hello! <br>

	<% if @champ_data.nil? %>
		<% @response = HTTParty.get(@url) %>
		<% @champ_data = @response.parsed_response["data"] %>
		<% puts 'dank' %>
	<% end %>
	
	<% @champ_data.each do |champion| %>
		<li>
			<%= link_to champion[0].to_s, champion_path(champion[0]) %>
		</li>
	<% end %>

Go to Runes:
<button type="button" class="btn btn-primary">Runes</button>
