hello! <br>

	<% if @champ_data.nil? %>
		<% @response = HTTParty.get(@url) %>
<<<<<<< Updated upstream
		<% @response.header %>
=======
		<!--% puts @response %-->
		<%= @response.header %>
>>>>>>> Stashed changes
	<% end %>
	
	<% @champ_data = @response.parsed_response["data"] %>
	<% @champ_data.each do |champion| %>
		<li>
			<%= link_to "Champion Page", champ_page_path %>
			<%= champion[0] %>
			<%= champion[1] %>
		</li>
	<% end %>

Go to Runes:
<button type="button" class="btn btn-primary">Runes</button>
	

