hello! <br>

	<% if @champ_data.nil? %>
		<% @response = HTTParty.get(@url) %>

		<!--% @champ_data = @response.parsed_response["data"] %-->

		<% puts @response %>
		<% puts @url %>

		<%= @response.header %>
	<% end %>
	
	<% @champ_data = @response.parsed_response["data"] %>
	<% @champ_data.each do |champion| %>
		<li>
			<!--%= link_to 'Rune Page', runes_path(champion[0]) %-->
			<%= link_to ''
			<%= champion[0] %>
			<%= champion[1] %>
		</li>
	<% end %>

Go to Runes:
<button type="button" class="btn btn-primary">Runes</button>
	

