hello! <br>

	<% if @champ_data.nil? %>
		<% @response = HTTParty.get(@url) %>
		<% @response.header %>
	<% end %>
	
	<% @champ_data = @response.parsed_response["data"] %>
	<% @champ_data.each do |champion| %>
		<li>
			<%= champion[0] %>
			<%= champion[1] %>
		</li>
	<% end %>

Go to Runes:
<button type="button" class="btn btn-primary">Runes</button>
	

