<% @champ_data.each do |champion| %>
	<li>
		<%= link_to champion[0], champion_path(champion[0]) %>
		<img src="https://ddragon.leagueoflegends.com/cdn/7.10.1/img/champion/<%=champion[1]["image"]["full"] %>">
	</li>
<% end %>

Go to Runes:
<button type="button" class="btn btn-primary">Runes</button>
